<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>Bremen GTUG 02/12</title>

	  	<meta charset='utf-8'>
	  	<script src='../slides.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

 	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      	</article>

      	<!-- Slide #2 | title-->
      	<article>
        	<h1>
          		Statusreport
        	</h1>
			
			<h3>
				6. Februar 2012
			</h3>
				
			<img src="../images/gtug_figure.png" style="width:200px; position:absolute; top:320px; left:520px">
      	</article>

      
		<!-- Slide #3 | active status -->
      	<article>
        	<h3>
				BremenGTUG in Zahlen
        	</h3>

			<ul class="build">
          		<li>
					3 Stammtische
					<ul class="build">
						<li>
							5 Vorträge
						</li>
						<li>
							1 Ignite Session
						</li>
					</ul>
          		</li>
				<li>
					1 Hackathon
					<ul class="build">
						<li>
							in Entwicklung: 1 App + Backend + Chrome Ext
						</li>
					</ul>
				</li>
				<li>
            		durchschnittlich 15 Teilnehmer 
          		</li>
          		<li>
            		nach wie vor "active status" auf <a href='http://www.gtugs.org/directory.jsp'>gtugs.org</a> 
          		</li>
        	</ul>
				
				
				
			<div class="build"><img src="../images/android_rocks.png" style="position: absolute; width:200px; top:420px; left:650px"></div>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">active status</p>
      	</article>

		<!-- Slide #12 | sponsoren -->
		<article>
        	<h3>
          		Sponsoren
        	</h3>
			<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
			<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
			<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
			<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
			<p style="position: absolute; top:500px; left:60px">team Neusta</p>
			<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">Sponsoren</p>
		</article>


		<!-- Slide #13 | events #0 -->
      	<article>
        	<h3>
          		Kommende Events
        	</h3>
        	<ul class="build">
          		<li>
            		<b>Globale Android Dev Camp</b>
          		</li>
				<li>
            		17./19.2.
          		</li>
				<li>
            		DevCamp zeitgleich in der ganzen Welt, organisiert von den lokalen UserGroups
          		</li>
				<li>
            		Interesse?
          		</li>
			</ul>
				
			<ul class="build">
				<li>
            		<b>droidcon Berlin - 13./14.03.</b>
          		</li>
			</ul>

			<ul class="build">
				<li>
            		<b>nächstes Event: Stammtisch März, 05.03.2012</b>
          		</li>
			</ul>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">Events</p>
		</article>

		<!-- Slide #14 | heute -->
    	<article>
        	<h3>
          		4. Stammtisch
        	</h3>
        	
        	<ul class="build">
          		<li>
            		<b>Vortrag 1</b> - HTML 5 Audio API von Sven Nobis
          		</li>
			</ul>
        	
        	<ul class="build">
				<li>
            		<b>Vortrag 2</b> - AndEngine von Henrik Voss 
          		</li>
			</ul>

			<ul class="build">
        		<li>
            		<b>offene Diskussionsrunde</b>
          		</li>
			</ul>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">4. Stammtisch</p>
		</article>

		<!-- Slide #15 | thank you -->
    	<article>
    		<h3>
          		Thank you!
        	</h3>
        
        	<ul>
				<li>
            		<a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
				</li>
				<li>
            		<a href='http://bremen-gtug.googlecode.com'>BremenGTUG Archiv</a>
				</li>		
        	</ul>

			<ul>
				<li>
        	    	<a href='http://gplus.to/bremenGTUG'>+BremenGTUG</a>
				</li>
				<li>
            		<a href='http://twitter.com/bremenGTUG'>@BremenGTUG</a>
				</li>
        	</ul>
		
			<ul>
					
        	</ul>
			<img src="../images/questions.jpg" style="position:absolute; width:350px; top:300px; left:460px">
		</article>
    </section>
  </body>
</html>