<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>Bremen GTUG 02/12</title>

	  	<meta charset='utf-8'>
	  	<script src='../slides.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

 	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      	</article>

      	<!-- Slide #2 | title-->
      	<article>
        	<h1>
          		Statusreport
        	</h1>
			
			<h3>
				6. Februar 2012
			</h3>
				
			<img src="../images/gtug_figure.png" style="width:200px; position:absolute; top:320px; left:520px">
      	</article>

      
		<!-- Slide #3 | active status -->
      	<article>
        	<h3>
				BremenGTUG in Zahlen
        	</h3>

			<ul class="build">
          		<li>3 Stammtische
					<ul class="build">
						<div>
							&#8658; 5 Vorträge und 1 Ignite Session
						<div>
					</ul>
          		</li>
				<li>1 Hackathon
					<ul class="build">
						<div>
							&#8658; 1 Android-App + AppEngine-Backend + Chrome-Extension
						</div>
					</ul>
				</li>
				<li>Durchschnittlich 15 Teilnehmer
					<ul class="build">
						<div>
							&#8658; "active status" auf <a href='http://www.gtugs.org/directory.jsp'>gtugs.org</a>
						</div>
					</ul>
				</li>
          	</ul>
			
			<p style="font-size:20px; position: absolute; top:637px; left:50px">active status</p>
      	</article>

		<!-- Slide #4 | sponsoren -->
		<article>
        	<h3>
          		Sponsoren
        	</h3>
			<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
			<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
			<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
			<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
			<p style="position: absolute; top:500px; left:60px">team Neusta</p>
			<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">Sponsoren</p>
		</article>


		<!-- Slide #5 | events #0 -->
      	<article>
        	<h3>
          		Kommende Events
        	</h3>
        	<ul class="build">
          		<li>
            		<b>Globale Android Dev Camp: 17.-19.02.2012</b>
            		<ul class="build">
            			<div>
            				&#8658; <a href='http://android-dev-camp-2012.blogspot.com/'>http://android-dev-camp-2012.blogspot.com/</a>
            			</div>
            		</ul>
          		</li>
          		<li>
            		<b>Droidcon Berlin: 13.-14.03.2012</b>
            		<ul class="build">
            			<div>
            				&#8658; <a href='http://de.droidcon.com/'>http://de.droidcon.com/</a>
            			</div>
            		</ul>
          		</li>
          		<li>
            		<b>Nächster Stammtisch: 05.03.2012</b>
          		</li>
			</ul>
			<p style="font-size:20px; position: absolute; top:637px; left:50px">Events</p>
		</article>

		<!-- Slide #6 | heute -->
    	<article>
        	<h3>
          		4. Stammtisch
        	</h3>
        	
        	<ul class="build">
          		<li>
            		<b>Vortrag 1</b> - HTML 5 Audio API von Sven Nobis
          		</li>
			</ul>
        	
        	<ul class="build">
				<li>
            		<b>Vortrag 2</b> - AndEngine von Henrik Voss 
          		</li>
			</ul>

			<ul class="build">
        		<li>
            		<b>Offene Diskussionsrunde</b>
          		</li>
			</ul>

			<p style="font-size:20px; position: absolute; top:637px; left:50px">4. Stammtisch</p>
		</article>

		<!-- Slide #7 | thank you -->
    	<article>
    		<ul>
				<li>
            		<a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
				</li>
				<li>
            		<a href='http://bremen-gtug.googlecode.com'>BremenGTUG auf Google Code</a>
				</li>		
        	</ul>

			<ul>
				<li>
        	    	<a href='http://gplus.to/bremenGTUG'>+BremenGTUG</a>
				</li>
				<li>
            		<a href='http://twitter.com/bremenGTUG'>@BremenGTUG</a>
				</li>
        	</ul>
		
			
			<img src="../images/questions.jpg" style="position:absolute; width:350px; top:300px; left:460px">
		</article>
    </section>
  </body>
</html>