<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
<head>
<title>Bremen GTUG 06/12</title>

<meta charset='utf-8'>
<script src='../slides.js'></script>
</head>

<style>
/* Your individual styles here, or just use inline styles if that’s
       what you want. */
</style>

<body style='display: none'>

	<section class='slides layout-regular template-bremengtug'>

		<!-- Your slides (<article>s) go here. Delete or comment out the
        slides below. -->


		<!-- Slide #1 | logo -->
		<article class='biglogo'></article>

		<!-- Slide #2 | title-->
		<article class="gtug">
			<h1>Statusreport</h1>
			<h3>6th June 2012</h3>
			<img src="../images/gtug_figure.png"
				style="width: 250px; position: absolute; top: 200px; left: 440px">
		</article>


		<!-- Slide #3 | status -->
		<article class="gtug">
			<h3>BremenGTUG in numbers</h3>

			<ul class="build">
				<li class="spaceDown">7 meetups</li>
				<li class="spaceDown">2 Hackathons</li>
				<li class="spaceDown">11 tech-talks</li>
				<li class="spaceDown"><b>16 attendees on average</b></li>
			</ul>
			<ul class="build" style="position: absolute; top: 500px; left: 70px">
			</ul>

			<div>
				<img src="../images/android_rocks.png"
					style="position: absolute; width: 200px; top: 420px; left: 650px">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Status</p>
		</article>

		<!-- Slide #17 | sponsoren -->
		<article class="gtug">
			<h3>Sponsors</h3>
			<p style="position: absolute; top: 200px; left: 60px">Best
				Western Hotel zur Post</p>
			<div>
				<img src="../images/best_western.jpg"
					style="position: absolute; width: 240px; top: 115px; left: 490px">
			</div>
			<p style="position: absolute; top: 350px; left: 60px">IT-Services
				Jan Stalhut</p>
			<div>
				<img src="../images/jan.jpg"
					style="position: absolute; width: 300px; top: 360px; left: 450px">
			</div>
			<p style="position: absolute; top: 500px; left: 60px">team neusta</p>
			<div>
				<img src="../images/neusta_logo.jpg"
					style="position: absolute; top: 510px; left: 400px">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Sponsors</p>
		</article>
		
		<article class="gtug">
			<h3>Last regulars' table</h3>
			
			<div class="middleLink">
				<a href="https://plus.google.com/107701928579044041923/videos" target="_blank">Starte
					Video ;-)</a>
			</div>
			
			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Regulars' table May</p>
		</article>
		
		<article class="gtug">
			<h3>Android360 interview</h3>
			
			<div>
				<img class="middlePic" src="../images/IMG1091.jpg" width="500px;">
			</div>
			
			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Android360</p>
		</article>

		<article class="gtug2gdg">
			<h3>Bye bye GTUG, hello GDG !</h3>

			<div>
				<img class="middlePic" src="../images/GDG_Bremen_Q3_500.png" width="400px;">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Hello
				GDG</p>

		</article>
		
		<article class="gtug2gdg">
			<h3>What is new?</h3>

			<ul class="build">
				<li class="spaceDown">New logo</li>
				<li class="spaceDown">New name</li>
				<li class="spaceDown">New T-SHIRT !!!</li>
			</ul>

			<div>
				<img src="../images/GDG_Bremen_vonJan5g_mitRand_XHQ.png" width="750px;">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">New brand</p>

		</article>

		<article class="gtug2gdg">
			<h3>Logo genesis</h3>

			<div class="middleLink">
				<a href="#"
					onclick="document.getElementById('logovideo').style.display='block';
					document.getElementById('logovideo').play();">Starte
					Video ;-)</a>
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Logo</p>
		</article>

		<!-- Slide #2 | title-->
		<article class="gdg">
			<h1>Statusreport</h1>
			<h3>6th June 2012</h3>
			<img src="../images/gtug_figure.png"
				style="width: 250px; position: absolute; top: 200px; left: 440px">
		</article>


		<!-- Slide #3 | status -->
		<article class="gdg">
			<h3>GDG Bremen in numbers</h3>

			<ul class="build">
				<li class="spaceDown">7 meetups</li>
				<li class="spaceDown">2 Hackathons</li>
				<li class="spaceDown">11 tech-talks</li>
				<li class="spaceDown"><b>16 attendees on average</b></li>
			</ul>
			<ul class="build" style="position: absolute; top: 500px; left: 70px">
			</ul>

			<div>
				<img src="../images/android_rocks.png"
					style="position: absolute; width: 200px; top: 420px; left: 650px">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Status</p>
		</article>

		<!-- Slide #17 | sponsoren -->
		<article class="gdg">
			<h3>Sponsors</h3>
			<p style="position: absolute; top: 200px; left: 60px">Best
				Western Hotel zur Post</p>
			<div>
				<img src="../images/best_western.jpg"
					style="position: absolute; width: 240px; top: 115px; left: 490px">
			</div>
			<p style="position: absolute; top: 350px; left: 60px">IT-Services
				Jan Stalhut</p>
			<div>
				<img src="../images/jan.jpg"
					style="position: absolute; width: 300px; top: 360px; left: 450px">
			</div>
			<p style="position: absolute; top: 500px; left: 60px">team neusta</p>
			<div>
				<img src="../images/neusta_logo.jpg"
					style="position: absolute; top: 510px; left: 400px">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Sponsors</p>
		</article>
				

		<!-- Slide #18 | hackerspace -->
		<article class="gdg">
			<h3>Hackerspace moved into new location</h3>
			<ul style="position: absolute; top: 540px;">
				<li><b>Bornstrasse 14/15</b></li>
			</ul>
			<div>
				<img src="../images/hackerspace_location.png" width="770px;">
			</div>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Hackerspace</p>
		</article>
		
		
		<!-- Slide #18 | Bremen community -->
		<article class="gdg">
			<h3>Community in Bremen grows!</h3>
			<!-- TODO list usergroups -->
			<ul class="build">
				<li class="spaceDown"><b><a href='http://bremenjs.de/'>Bremen.js</a></b>
					- Regulars' table - 18th June</li>
				<li class="spaceDown"><b><a
						href='http://www.lug-bremen.info/'>Linux UG</a></b> - Regulars' table
					- 10th June</li>
				<li class="spaceDown"><b><a
						href='http://www.typo3bremen.org/home.html'>Typo3 UG</a></b> -
					Regulars' table - 14th June</li>
				<li class="spaceDown"><b><a
						href='http://www.cocoaheads.org/de/Bremen/index.html'>Cocoa
							Heads</a></b> - Next meeting - 14th June</li>
				<li class="spaceDown"><b>...</b></li>
			</ul>
			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Community</p>
		</article>

		<!-- Slide #18 | events #0 -->
		<article class="gdg">
			<h3>Coming events</h3>
			<br>

			<ul class="build">
				<li class="spaceDown"><b>Google I/O Extended - 27th June</b></li>
				<li class="spaceDown"><b>Bremer User Group BBQ - 29th June</b></li>
				<li class="spaceDown"><b>Regulars' table July - 2nd July</b></li>
			</ul>
			<br>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Events</p>
		</article>



		<!-- Slide #14 | heute -->
		<article class="gdg">
			<h3>8th regulars' table (today)</h3>
			<ul class="build">
				<li class="spaceDown"><b>OAuth 2.0 - The gate to Google's
						APIs</b><br> by Steve Liedtke</li>
				<li class="spaceDown"><b>Gadget-Session</b></li>
				<li class="spaceDown"><b>Open discussion</b></li>
			</ul>

			<ul class="build">

			</ul>

			<p
				style="font-size: 20px; position: absolute; top: 637px; left: 50px">Todays topics</p>
		</article>


		<!-- Slide #15 | thank you -->
		<article class="gdg">
			<h3>Thank you!</h3>
			<ul>
				<li>calendar: <a href='http://bremen.gtugs.org/events'>bremen.gtugs.org/events</a>
				</li>
				<li><a href='http://bremen-gtug.googlecode.com'>bremen-gtug.googlecode.com</a>
				</li>
				<li><a href='http://bremen.gtugs.org'>bremen.gtugs.org</a></li>
			</ul>

			<ul>
				<li><a href='https://plus.google.com/b/107701928579044041923/'>+GDGBremen</a>
				</li>
				<li><a href='https://twitter.com/#!/GDGBremen'>@GDGBremen</a></li>
			</ul>
			<img src="../images/qr.png"
				style="position: absolute; width: 160px; top: 470px; left: 100px">
			<img src="../images/questions.jpg"
				style="position: absolute; width: 350px; top: 300px; left: 460px">
		</article>

	</section>

	<video id="logovideo" width="1280" height="720"
		style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; width: 100%; height: 100%; display: none"
		onclick="document.getElementById('logovideo').style.display='none';">
		<source src="../video/Video_720p.mp4" type="video/mp4"></source>
		<source src="../video/Video_720p.ogg" type="video/ogg"></source>
	</video>
</body>
</html>
