<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>GDG Bremen 07/12</title>

	  <meta charset='utf-8'>
	  <script src='../slides.js'></script>
    <script src='../phoneViaWebkey.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

  	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Your slides (<article>s) go here. Delete or comment out the
        slides below. -->
        
        
  		<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      </article>

      <!-- Slide #2 | title-->
      <article>
        <h1>
          Statusreport
        </h1>
				<h3>
					2. Juli 2012 - Matthias Friedrich
				</h3>
				<img src="../images/gtug_figure.png" style="width:250px; position:absolute; top:200px; left:440px">
      </article>	


      <article>
        <h2>
          I/O Extended 2012<br>Nord-Derby
        </h2>
        <div><img src="../images/android-camera.png" style="position: absolute; width:230px; top:500px; left:540px"></div>
      </article> 

      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/01.jpg'>
        </p>
      </article>
      <article style=" background:none;" >
        <p>
          <img height="700px" width="525px" style="position: absolute; top:0px; left:187px" src='../images/ioex/01_1.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/02.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/02_1.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/03.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/03_1.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/04.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/05.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/06.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/06_1.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/06_2.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/07.jpg'>
        </p>
      </article>
      <article style=" background:none;" >
        <p>
          <img height="700px" width="525px" style="position: absolute; top:0px; left:187px" src='../images/ioex/07_1.jpg'>
        </p>
      </article>
      <article style=" background:none;" >
        <p>
          <img height="700px" width="525px" style="position: absolute; top:0px; left:187px" src='../images/ioex/08.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/09.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/10.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/11.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/12.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/13.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ioex/14.jpg'>
        </p>
      </article>
      <article style=" background:none;" class='bordered_header'>
        <h3>
          Remember this?
        </h3>
        <p>
          <img width="900px;" style="position: absolute; top:200px; left:0px" src='../images/ioex/15.png'>
        </p>
      </article>
      <article class='fill_vertical' style=" background:none;"  >
        
        <p>
          <img src='../images/ioex/15_1.jpg'>
        </p>
        <h3>We did that!</h3>
      </article>

      <article>
        <h3 style="position: absolute; top:110px; left:370px">
          a small recap 
        </h3>
        <div><img src="../images/google-io-logo.png" style="position: absolute; top:100px"></div>
        <ul class="build" style="position: absolute;  top:145px; width:800px">
          <li>
            Chrome for Android out of beta, Chrome on iOS
          </li>
          <li>
            Cloud:
            <ul> 
              <li>
                <a href="http://googleappengine.blogspot.de/2012/06/google-app-engine-170-released-at.html" target="_blank">App Engine 1.7.0</a>,
                <a href="http://googledevelopers.blogspot.de/2012/06/announcing-version-2-of-google-drive.html" target="_blank">Drive SDK v2.0</a>
              </li>
              <li>
                <a href="http://cloud.google.com/products/compute-engine.html" target="_blank">Compute Engine</a>
              </li>
            </ul>
          </li>
          <li>
            Google+:
            <ul> 
              <li>
                tablet-versions, Events 
              </li>
              <li>
                <a href="https://developers.google.com/+/history" target="_blank">History API</a>, <a href="https://developers.google.com/+/mobile" target="_blank">mobile SDK</a>
              </li>
            </ul>
          </li>
          <li>
            Android:
            <ul>
              <li>7 mayor app updates</li>
              <li>4.1 - <a href="http://www.android.com/whatsnew/" target="_blank">Jelly Bean</a></li>
            </ul>
          </li>
          <li style="position: absolute; top:260px; left:480px ">
            Project Glass falling from the sky<br><br>...and much more...
          </li>
        </ul>
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Google I/O</p>
      </article>


      <!-- <article>
        <div id="phonediv" style="position: absolute; top: 5px; left:269px;" >
          <img id="phone" src="../images/black.png">
        </div>
        <p class="mobilephonecontrol">
          <label for="ipaddr">IP-Addr.: </label>
          <input type="text" id="ipaddr" value="192.168.178.27"><br />
          <input type="button" id="pconn" onclick="phoneConnect()" value="verbinden" />
          <input type="button" id="pdisconn" disabled="disabled" onclick="phoneDisconnect()" value="trennen" />
        </p>
        <p class="mobilephonerotation">
          <input type="button" id="protateleft" onclick="phoneRotate(-1)" value="horizontal" />
          <button id="protatemiddle" disabled="disabled" onclick="phoneRotate(0)">ver-<br />ti-<br />kal</button>
          <input type="button" id="protateright" onclick="phoneRotate(1)" value="horizontal" />
        </p>
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Jelly Bean</p>
    </article> -->


      <article>
        <h2>
          Usergroups BBQ<br>@ Hackerspace Bremen
        </h2>
        <div><img src="../images/android-camera.png" style="position: absolute; width:230px; top:500px; left:540px"></div>
      </article>

      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ug_bbq/01.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ug_bbq/02.jpg'>
        </p>
      </article>
      <article style=" background:none;" >
        <p>
          <img height="700px" width="525px" style="position: absolute; top:0px; left:187px" src='../images/ug_bbq/03.jpg'>
        </p>
      </article>
      <article class='fill'>
        <p>
          <img width="900px;" src='../images/ug_bbq/04.jpg'>
        </p>
      </article>

      <article>
        <h3>
          Google Developers Live
        </h3>
        <div style="position: absolute; top:170px">
          <ul>
            <li>
              bringing the know-how out of the<br> Google offices to the public 
              <ul>
                <li>
                  24/7
                </li>
                <li>
                  all over the world
                </li>
              </ul>  
            </li>
				  </ul>
        </div>
        <a href="https://developers.google.com/live/" style="position: absolute; top:550px">developers.google.com/live</a>
        <img src="../images/gdev.png" style="position: absolute; top:450px; left:550px">
				
				<p style="font-size:20px; position: absolute; top:637px; left:50px">GDL</p>
      </article>


      <!-- Slide #17 | sponsoren -->
      <article>
        <h3>
          Sponsors
        </h3>
				<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
				<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
				<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
				<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
				<p style="position: absolute; top:500px; left:60px">team Neusta</p>
				<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">sponsors</p>
			</article>


			<!-- Slide #18 | events #0 -->
      <article>
        <h3>
          Coming events
        </h3><br>
        
        <ul>
          <li>
            <b>regulars' table - august the 6th</b>
          </li>
        </ul>
        <br>
        <ul>
          <li>
            <b>I/O sessions afterviewing?</b>
          </li>
        </ul>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">events</p>
			</article>



			<!-- Slide #14 | heute -->
      <article>
        <h3>
          9th regulars' table (today)
        </h3>
        <ul class="build">
          <li>
            <b>"Android Dev Tips: catch run-time exceptions, send crash reports and still remain user friendly"</b><br>
            by Stefan Anca 
          </li>
				</ul>

        <ul class="build">
          <li>
            <b>ignite</b><br>
            <ul>
              <li>
                BreminaleApp by Björn Ahlfeld
              </li>
              <li>
                Hackerspace-Open-Melder by Steve Liedtke
              </li>
            </ul> 
          </li>
        </ul>

				<ul class="build">
          <li>
            <b>open discussion</b>
          </li>
				</ul>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">today</p>
			</article>

			<!-- Slide #15 | thank you -->
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
          <li>
            calendar: <a href='http://bremen.gtugs.org/events'>bremen.gtugs.org/events</a>
          </li>
					<li>
            <a href='http://bremen-gtug.googlecode.com'>bremen-gtug.googlecode.com</a>
          </li>
          <li>
            <a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
					</li>
        </ul>

				<ul>
					<li>
            <a href='http://gplus.to/bremenGTUG'>+GDG Bremen</a>
					</li>
					<li>
            <a href='http://twitter.com/bremenGTUG'>@GDGBremen</a>
					</li>
        </ul>
				<img src="../images/qr.png" style="position:absolute; width:160px; top:470px; left:100px">
				<img src="../images/questions.jpg" style="position:absolute; width:350px; top:300px; left:460px">
      </article>

    </section>

  </body>
</html>
