<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>Bremen GTUG 01/12</title>

	  <meta charset='utf-8'>
	  <script src='../slides.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

  	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Your slides (<article>s) go here. Delete or comment out the
        slides below. -->
        
        
  		<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      </article>

      <!-- Slide #2 | title-->
      <article>
        <h1>
          Statusreport
        </h1>
				<h3>
					9. Januar 2012
				</h3>
				<img src="../images/gtug_figure.png" style="width:200px; position:absolute; top:320px; left:520px">
      </article>

      
			<!-- Slide #3 | active status -->
      <article>
        <h3>
					BremenGTUG in Zahlen
        </h3>

				<ul class="build">
          <li>
						2 Stammtische
          </li>
					<li>
						1 Hackathon
					</li>
					<li>
						4 Tech-Talks
					</li>
					<li>
						in Entwicklung: 1 App + Backend + Chrome Ext
					</li>
					<li>
            durschnittlich 14 Teilnehmer 
          </li>
        </ul>
				<ul class="build" style="position: absolute; top:500px; left:70px">
					<li>
            nach wie vor "active status" auf <a href='http://www.gtugs.org/directory.jsp'>gtugs.org</a> 
          </li>
				</ul>
				
				<div class="build"><img src="../images/android_rocks.png" style="position: absolute; width:200px; top:420px; left:650px"></div>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">active status</p>
      </article>

			
			<!-- Slide #4 | hackathon #0 -->
      <article>
				<h2>
          Hackathon - 28./29.12.
        </h2>
				<div><img src="../images/androiddev.png" style="position: absolute;  margin-top:400px; margin-left:655px"></div>
			</article>			


			<!-- Slide #5 | hackathon #1 -->
      <article>
        <h3>
        	Entwicklung einer Eventmanagement-App
        </h3>
        <ul class="build" >
          <li>
            Android App (Phone + Tablet)
          </li>
					<li>
            AppEngine Backend
          </li>
					<li>
            Chrome Extension
          </li>
					<li>
            Sources unter <a href='http://code.google.com/p/bremen-gtug/source/browse/#svn%2Fprojects%2F2011_12_28_Hackathon'>bremen-gtug.googlecode.com</a> 
          </li>
				</ul>
				
				<p style="font-size:20px; position: absolute; top:637px; left:50px">Hackathon</p>
      </article>

			
			<!-- Slide #6 | hackathon #2 -->
      <article>
        <h2>
          Eindrücke
        </h2>
				<div><img src="../images/android-camera.png" style="position: absolute; width:230px; top:500px; left:540px"></div>
			</article>		

			<!-- Slide #7 | hackathon #3 - pic #0 -->
			<article class='fill'>
        <p>
          <img width="900px;" src='../images/photos/IMG_20111228_110835.jpg'>
        </p>
      </article>

			<!-- Slide #8 | hackathon #4 - pic #1 -->
			<article class='fill'>
        <p>
          <img width="900px;" src='../images/photos/IMG528.jpg'>
        </p>
      </article>

			<!-- Slide #9 | hackathon #5 - pic #2 -->
			<article class='fill'>
        <p>
          <img width="900px;" src='../images/photos/IMG527.jpg'>
        </p>
      </article>

			<!-- Slide #10 | hackathon #6 - pic #3 -->
			<article class='fill'>
        <p>
          <img width="900px;" src='../images/photos/IMG532.jpg'>
        </p>
      </article>

			<!-- Slide #11 | hackathon #7 - pic #4 -->
			<article class='fill'>
        <p>
          <img width="900px;" src='../images/photos/IMG529.jpg'>
        </p>
      </article>

			<!-- Slide #12 | sponsoren -->
			<article>
        <h3>
          Sponsoren
        </h3>
				<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
				<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
				<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
				<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
				<p style="position: absolute; top:500px; left:60px">team Neusta</p>
				<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">Sponsoren</p>
			</article>


			<!-- Slide #13 | events #0 -->
      <article>
        <h3>
          Kommende Events
        </h3>
        <ul class="build">
          <li>
            <b>Globale Android Dev Camp</b>
          </li>
					<li>
            17./19.2.
          </li>
					<li>
            DevCamp zeitgleich in der ganzen Welt, organisiert von den lokalen UserGroups
          </li>
					<li>
            Interesse?
          </li>
				</ul>
				
				<ul class="build">
					<li>
            <b>droidcon Berlin - 13./14.03.</b>
          </li>
				</ul>

				<ul class="build">
					<li>
            <b>nächstes Event: Stammtisch Februar, 06.02.2012</b>
          </li>
				</ul>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">Events</p>
			</article>



			<!-- Slide #14 | heute -->
      <article>
        <h3>
          3. Stammtisch
        </h3>
        <ul class="build">
          <li>
            <b>TechTalk</b> - Einführung in HTML5 von Jan Stalhut 
          </li>
				</ul>
        <ul class="build">
					<li>
            <b>Ignite-Session</b> 
          </li>
					<li>
            FoodWatcher von Matthias
          </li>
					<li>
            BreminaleApp von Björn
          </li>
					<li>
            FiveMusicPlayer von Sven
          </li>
					<li>
            AppEngine APIs von Steve
          </li>
				</ul>

				<ul class="build">
          <li>
            <b>offene Diskussionsrunde</b>
          </li>
				</ul>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">3. Stammtisch</p>
			</article>

			<!-- Slide #15 | thank you -->
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
					<li>
            <a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
					</li>
					<li>
            <a href='http://bremen-gtug.googlecode.com'>BremenGTUG Archiv</a>
					</li>		
        </ul>

				<ul>
					<li>
            <a href='http://gplus.to/bremenGTUG'>+BremenGTUG</a>
					</li>
					<li>
            <a href='http://twitter.com/bremenGTUG'>@BremenGTUG</a>
					</li>
        </ul>
				<ul>
					
        </ul>
				<img src="../images/questions.jpg" style="width:350px; margin-top:-70px; margin-left:460px">
      </article>

    </section>

  </body>
</html>
