<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>Bremen GTUG 05/12</title>

	  <meta charset='utf-8'>
	  <script src='../slides.js'></script>
    <script src='../phoneViaWebkey.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

  	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Your slides (<article>s) go here. Delete or comment out the
        slides below. -->
        
        
  		<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      </article>

      <!-- Slide #2 | title-->
      <article>
        <h1>
          Statusreport
        </h1>
				<h3>
					7. Mai 2012
				</h3>
				<img src="../images/gtug_figure.png" style="width:250px; position:absolute; top:200px; left:440px">
      </article>


      <!-- Slide #3 | status -->
      <article>
        <h3>
          BremenGTUG in numbers
        </h3>

        <ul class="build">
          <li>
            6 meetups
          </li>
          <li>
            2 Hackathons
          </li>
          <li>
            9 tech-talks
          </li>
          <li>
              15 attendees on average
          </li>
        </ul>
        <ul class="build" style="position: absolute; top:500px; left:70px">
        </ul>
        
        <div><img src="../images/android_rocks.png" style="position: absolute; width:200px; top:420px; left:650px"></div>

        <p style="font-size:20px; position: absolute; top:637px; left:50px">status</p>
      </article>

			
      <article>
				<h3>
          What is 
        </h3>
        <h3 style="position: absolute; top:110px; left:475px">
          ? 
        </h3>
				<div><img src="../images/google-io-logo.png" style="position: absolute;  top:105px; left:175px"></div>
        <ul class="build" >
          <li>
            Googles main developer conference
          </li>
          <li>
            27.-29. June 2012 in San Francisco
          </li>
          <li>
            showing new APIs, products and a look what is being worked on
          </li>
          <li>
            2 days, 2 keynotes, 110 technical sessions in 2011
          </li>
          <li>
            ticket: 900$ (300$ for students)
          </li>
          <li>
            time till sold out...
          </li>
          <li style="position: absolute; left:100px">
            2009 -> 90 days
          </li>
          <li style="position: absolute; top:567px; left:100px">
            2010 -> 50 days
          </li>
          <li style="position: absolute; top:527px; left:400px">
            2011 -> 59 minutes
          </li>
          <li style="position: absolute; top:567px; left:400px">
            2012 -> sold out after 20 minutes
          </li>
        </ul>
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Google I/O</p>
			</article>


      <article>
        <h3>Highlights 2011</h3><br><br>
        <center><object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/gTA-5HM8Zhs?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/gTA-5HM8Zhs?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>

        <p style="font-size:20px; position: absolute; top:637px; left:50px">Google I/O</p>
      </article>			


			<!-- Slide #5 | hackathon #1 -->
      <article>
        <h3>
        	Google I/O Extended
        </h3>
        <ul class="build" >
          <li>
            free viewing parties all over the world 
          </li>
          <li>
            organised by Google and local communities
          </li>
        </ul><br>  
        <div class="build"><img height="300px" src="../images/extended2011_map.png" ></div>
      
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Google I/O Extended</p>
      </article>

      <article>
        <h3>
          Google I/O Extended 2012
        </h3>
        <div class="build" style="position: absolute; top:170px;">
          <ul>
            <li>
              BremenGTUG and HamburgGTUG teaming up to<br>
              organize an event in the Google office Hamburg
            </li>
            <li>
              food, drinks and swag sponsored by Google
            </li>
				  </ul>
          <ul>
            <li>
              hackathon
            </li>
            <li>
              lunch in the Google cantine
            </li>
            <li>
              hackathon/presentations
            </li>
            <li>
              livewatching the keynote streamed from SF
            </li>
            <li>
              livewatching techsessions streamed from SF
            </li>
          </ul>
        </div>
				
				<p style="font-size:20px; position: absolute; top:637px; left:50px">Google I/O Extended</p>
      </article>

			
			<article>
        <h3>
          GDG-rebranding
        </h3>
        <div class="build"> 
          <ul>
            <li>
              BremenGTUG will rebrand to <b>GDG Bremen</b><br> to the june meeting 
            </li>
            <li>
              details for change (new adresses etc.) will soon<br>
              be made public
            </li>
          </ul>
        </div>
        <div  class="build">
          <div>
            <img src="../images/GDG_Bremen.png" >
            <img src="../images/GDG_Bremen_1.png" style="position: absolute; top:360px; left: 470px">
            <img src="../images/GDG_Bremen_2.png" style="position: absolute; top:440px; left: 60px">
            <img src="../images/GDG_Bremen_3.png" style="position: absolute; top:480px; left: 470px">
          </div>    
        </div>

        <ul class="build" style="position: absolute; top:540px;">
          <li>
            logo-generator: <a href="http://gdg-generator.appspot.com/">http://gdg-generator.appspot.com</a> 
          </li>
        </ul>

        <p style="font-size:20px; position: absolute; top:637px; left:50px">GDG Bremen</p>
      </article>


      <!-- Slide #17 | sponsoren -->
      <article>
        <h3>
          Sponsors
        </h3>
				<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
				<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
				<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
				<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
				<p style="position: absolute; top:500px; left:60px">team Neusta</p>
				<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">sponsors</p>
			</article>

      <!-- Slide #18 | hackerspace -->
      <article>
        <ul style="position: absolute; top:540px;">
          <li>
            <b>Bornstrasse 14/15</b>
          </li>
        </ul>
        <div><img src="../images/hackerspace_location.png" width="770px;"></div>
        
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Hackerspace</p> 
      </article>


      <!-- Slide #18 | bremen.js -->
      <article>
        <h3>
          Welcome Bremen.js
        </h3>
        <div><img src="../images/bremenjs.jpg" style="position:absolute; top:130px; left:600px"></div>
        <ul >
          <li>
            <b>1st meeting:</b>
          </li>
          <ul>
            <li>
              <b>14.5. - 7pm</b>
            </li>
            <li>
              <b>Hochschule Bremen, ZIMT<br>
                Flughafenallee 10, 28199 Bremen</b>
            </li>
          </ul>
        </ul>
        <ul>
          <li>
            visit their page: <a href="http://bremenjs.de/">http://bremenjs.de/</a>
          </li>
          <li>
            join their mailinglist: <a href="https://groups.google.com/forum/?fromgroups#!forum/bremenjs">GoogleGroups -> bremenjs</a>
          </li>
          <li>
            follow them @Twitter and Google+:<br><a href="https://twitter.com/bremenjs">@Bremenjs</a>/<a href="https://plus.google.com/109791724606817042533">+Bremen.js</a>
          </li>
        </ul>
        
        
        <p style="font-size:20px; position: absolute; top:637px; left:50px">Bremen.js</p> 
      </article>


			<!-- Slide #18 | events #0 -->
      <article>
        <h3>
          Coming events
        </h3><br>
        
        <ul class="build">
          <li>
            <b>regulars' table June - 04.06.</b>
          </li>
        </ul>
        <br>
        <div class="build">
          <ul>
            <li>
              <b>Google I/O Extended - 27.6.</b>
            </li>
            <li>
              details will follow...
            </li>
          </ul>
        </div>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">events</p>
			</article>



			<!-- Slide #14 | heute -->
      <article>
        <h3>
          7th regulars' table (today)
        </h3>
        <ul class="build">
          <li>
            <b>First look on Google Drive and its SDK</b><br>
            by Steve Liedtke 
          </li>
				</ul>

        <ul class="build">
          <li>
            <b>ActionBarSherlock</b><br>
            by Matthias Friedrich 
          </li>
        </ul>

				<ul class="build">
          <li>
            <b>open discussion</b>
          </li>
				</ul>

				<p style="font-size:20px; position: absolute; top:637px; left:50px">today</p>
			</article>

			<!-- Slide #15 | thank you -->
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
					<li>
            <a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
					</li>
					<li>
            <a href='http://bremen-gtug.googlecode.com'>bremen-gtug.googlecode.com</a>
					</li>		
        </ul>

				<ul>
					<li>
            <a href='http://gplus.to/bremenGTUG'>+BremenGTUG</a>
					</li>
					<li>
            <a href='http://twitter.com/bremenGTUG'>@BremenGTUG</a>
					</li>
        </ul>
				<img src="../images/qr.png" style="position:absolute; width:160px; top:440px; left:100px">
				<img src="../images/questions.jpg" style="position:absolute; width:350px; top:300px; left:460px">
      </article>

    </section>

  </body>
</html>
