<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>Bremen GTUG 04/12</title>

	  <meta charset='utf-8'>
	  <script src='../slides.js'></script>
    </head>
  
  <style>
  </style>

  <body style='display: none'>

  	<section class='slides layout-regular template-bremengtug'>
        
  		<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      	</article>

      	<!-- Slide #2 | title-->
      	<article>
        	<h1>
          		Statusreport
        	</h1>
			<h2>
				2. April 2012
			</h2>
			<h3>
				by Steve Liedtke
			</h3>
			<img src="../images/gtug_figure.png" style="width:250px; position:absolute; top:200px; left:440px">
      	</article>

      
		<!-- Slide #3 | status -->
      	<article>
        	<h3>
				BremenGTUG in Numbers
        	</h3>

			<ul class="build">
          		<li>
					5 regulars' tables
          		</li>
				<li>
					8 Talks
				</li>
				<li>
					2 Hackathons
				</li>
				<li>
					2 Android apps in development, Backend, Chrome Ext.
				</li>
				<li>
            		on an average of 13 members 
          		</li>
        	</ul>
				
			<div><img src="../images/android_rocks.png" style="position: absolute; width:200px; top:420px; left:650px"></div>

		</article>

		<!-- Slide #4 | sponsoren -->
      	<article>
        	<h3>
          		Sponsors
        	</h3>
			<p style="position: absolute; top:200px; left:60px">BEST WESTERN Hotel zur Post</p>
			<div><img src="../images/best_western.jpg" style="position: absolute; width:240px; top:115px; left:490px"></div>
			<p style="position: absolute; top:350px; left:60px">IT-Services Jan Stalhut</p>				
			<div><img src="../images/jan.jpg" style="position: absolute; width:300px; top:360px; left:450px"></div>
			<p style="position: absolute; top:500px; left:60px">team neusta</p>
			<div><img src="../images/neusta_logo.jpg" style="position: absolute;  top:510px; left:400px"></div>

		</article>
			
		<!-- Slide #5 | events in march #1 -->
      	<article>
			<h3>
        		March events: Regulars' table
        	</h3>
        	
        	<ul class="build">
        		<li>
        			Talk about node.js from Malte Legenhausen, John Philip Schnake and André König
        		</li>
        		<li>
        			Check out the <a href="https://docs.google.com/presentation/pub?id=1zz1Q8YpFuGkg73zq4fgfZfrpM7HSOE-Ozb9ZpFvFFqQ&start=false&loop=false&pli=1#slide=id.ga1883de_0_0">presentation</a>
        			or watch the talk on <a href="http://www.youtube.com/watch?v=qcnBtB7k39I#t=16m21s">YouTube</a>
        			<br><br><br>
        		</li>
        		<li>
        			<b>Interested in Javascript?</b><br>Follow Bremen.js on <a href="https://plus.google.com/109791724606817042533">Google+</a>
        		</li>
        	</ul>
        	
			<div><img src="../images/photos/IMG597.jpg" style="position: absolute; width:350px; top:380px; left:500px"></div>
		</article>	
		
		<!-- Slide #6 | events in march #2 -->
      	<article>
			<h3>
        		March events: CEBIT in Hannover
        	</h3>
        	
        	<ul class="build">
        		<li>
        			Trip wasn't organized by Bremen GTUG
        		</li>
        		<li>
        			Small group of 6 people
        		</li>
        		<li>
        			Google presented Google+
        			<br><br><br>
        		</li>
        		<li>
        			<i>Conclusion for me:</i><br> cebit is getting more and <br>
        			more a buisness tradeshow. <br>
        			Not many booths are <br>interesting for developers.
        		</li>
        	</ul>
        	
			<div><img src="../images/photos/IMG599.jpg" style="position: absolute; width:350px; top:380px; left:500px"></div>
		</article>		

		<!-- Slide #7 | events in march #3 -->
      	<article>
			<h3>
        		March events: droidcon in Berlin
        	</h3>
        	
        	<ul class="build">
        		<li>
        			Android Conference in Berlin
        		</li>
        		<li>
        			Organized by the Community
        		</li>
        		<li>
        			Bremen GTUG members participated (5 members)
        		</li>
        		<li>
        			Berlin GTUG organized <br>additional events:<br><br> i.e. hackathon, <br>droidcon Monday <br>and barcamp 
        		</li>
			</ul>
        	
			<div><img src="../images/photos/IMG609.jpg" style="position: absolute; width:350px; top:380px; left:500px"></div>
		</article>

		<!-- Slide #8 | events in march #4 -->
      	<article>
			<h3>
        		March events: MobileTechConference in Munich
        	</h3>
        	
        	<ul class="build">
        		<li>
        			Matthias Friedrich won a ticket! Congrats ;-)
        		</li>
        		<li>
        			So please tell us ... how was it?
        		</li>
        	</ul>
        	
			<div><img src="../images/photos/IMG_20120327_171330.jpg" style="position: absolute; width:350px; top:380px; left:500px"></div>
		</article>

		<!-- Slide #9 | upcoming events -->
      	<article>
        	<h3>
          		Upcoming events
        	</h3>
        	<ul class="build">
          		<li>
            		<b>Regulars' table in May - 7th May</b>
            		<br><br>
          		</li>
          		<li>
            		<b><a href="https://developers.google.com/events/io/io-extended">Google I/O Extended</a> - 27th till 29th June</b>
          		</li>
			</ul>
				
        </article>
		
		<!-- Slide #10 | announcement #1 -->
      	<article>
        	<h3>
          		Announcement
        	</h3>
        	<ul class="build">
          		<li>
            		Google Technology User Groups are going through a change
          		</li>
				<li>
            		Moving from <a href="http://www.gtugs.org">gtugs.org</a> to the <a href="https://developers.google.com/">developer.google.com</a> page
          		</li>
				<li>
            		GTUG is renamed to GDG
          		</li>
			</ul>
				
        </article>
		
		<!-- Slide #11 | announcement #2 -->
      	<article>
        	<h3>
          		GTUG to GDG
        	</h3>
        	<ul class="build">
          		<li>
            		GDG -> Google Developer Group
          		</li>
				<li>
            		Whats new? New name, new brand, new site, the rest stays
          		</li>
				<li>
            		When is it happening? Until IO 2012! Maybe pretty soon ;-)
          		</li>
			</ul>
			
			<div class="build"><img src="../images/gdgexample.jpg" style="position: absolute; width:350px; top:380px; left:500px"></div>
			
		</article>

		<!-- Slide #12 | heute -->
      	<article>
        	<h3>
          		6th Regulars' table
        	</h3>
        	<ul class="build">
          		<li>
            		<b>The Go Programming Language</b><br>
            		by Frank Müller 
          		</li>
			</ul>

			<ul class="build">
          		<li>
            		<b>Open discussion</b>
          		</li>
			</ul>

		</article>

		<!-- Slide #15 | thank you -->
      	<article>
        	<h3>
          		Thank you!
        	</h3>
        
        	<ul>
				<li>
            		<a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
				</li>
				<li>
            		<a href='http://bremen-gtug.googlecode.com'>bremen-gtug.googlecode.com</a>
				</li>		
        	</ul>

			<ul>
				<li>
            		<a href='http://gplus.to/bremenGTUG'>+BremenGTUG</a>
				</li>
				<li>
            		<a href='http://twitter.com/bremenGTUG'>@BremenGTUG</a>
				</li>
        	</ul>
			<img src="../images/qr.png" style="position:absolute; width:160px; top:440px; left:100px">
			<img src="../images/questions.jpg" style="position:absolute; width:350px; top:300px; left:460px">
      	</article>

    </section>
  </body>
</html>