<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
	<head>
		<title>greenDAO</title>

	  <meta charset='utf-8'>
	  <script src='../slides.js'></script>
	</head>
  
  <style>
  /* Your individual styles here, or just use inline styles if that’s
       what you want. */
      
  </style>

  <body style='display: none'>

  	<section class='slides layout-regular template-bremengtug'>
      
  	 	<!-- Your slides (<article>s) go here. Delete or comment out the
        slides below. -->
        
        
  		<!-- Slide #1 | logo -->
    	<article class='biglogo'>
      </article>

      <!-- Slide #2 | title-->
      <article>
        <h1>
          greenDAO
        </h1>
				<h3>
					Android ORM for SQLite
				</h3>
        <p>
          Matthias Friedrich
          <br>
          5. Dez. 2011
        </p>
				<img src="../images/logo150.png" style="width:350px; margin-top:-310px; margin-left:400px">
      </article>


			<!-- Slide #3 | quote -->
      <article>
        <q>
          You won’t believe what we have managed to do in this release.
        </q>
        <div class='author'>
          Larry Page
        </div>
      </article>

      
			<!-- Slide #4 | header text with bullet points building -->
      <article>
        <h3>
					The intention
        </h3>
				<div class="build"><img src="../images/GB_homescreen_240.png" style="position: absolute; width:120px; margin-top:-25px; margin-left:330px"></div>
				<div class="build"><img src="../images/HC_homescreen_480.png" style="position: absolute; width:320px; margin-top:-25px; margin-left:485px"></div>
        <ul class="build" >
          <li>
            reunite the platform
          </li>
				</ul>

				<div class="build"><img src="../images/iOS5.png" style="position: absolute; width:140px; margin-top:115px; margin-left:430px"></div>
				<ul class="build">
          <li style="position: absolute; margin-top:165px; margin-left:0px">
						provide a new, superior UI
          </li>
					<li style="position: absolute; margin-top:330px; margin-left:0px">
						some other innovative features
					</li>
        </ul>
      </article>


			<!-- Slide #5 | seuge -->
      <article>
				<h2>
          Features for the user
        </h2>
				<div><img src="../images/Bugdroid-phone_normal.png" style="position: absolute;  margin-top:440px; margin-left:655px"></div>
			</article>

			
			<!-- Slide #6 | header text with bullet points building -->
      <article>
        <h3>
          New, improved UI
        </h3>
        <ul class="build">
          <li>
            Virtual buttons, favourites tray,<br> new folders, resizable widgets
          </li>
				</ul>
				<div class="build"><img src="../images/home_240.png" style="position: absolute;  margin-top:-160px; margin-left:560px"></div>
				
				<ul class="build">
					<li>
            New interactive lockscreen
          </li>
				</ul>
				<div class="build"><img src="../images/lock-camera_240.png" style="position: absolute;  margin-top:-210px; margin-left:540px"></div>

				<ul class="build">
					<li>
            Swipe to dismiss notifications,<br> tasks and browser tabs
          </li>
				</ul>
				<div class="build"><img src="../images/tasks_240.png" style="position: absolute;  margin-top:-296px; margin-left:520px"></div>


				<ul class="build">
					<li>
            Improved text/voice-input<br> and spell-checking
          </li>
				</ul>
				<div class="build"><img src="../images/text-replace_240.png" style="position: absolute;  margin-top:-385px; margin-left:500px"></div>
				<div class="build"><img src="../images/tts_240.png" style="position: absolute;  margin-top:-385px; margin-left:500px"></div>

				<ul class="build">
					<li>
            Control over network data
          </li>
				</ul>
				<div class="build"><img src="../images/usage-all_240.png" style="position: absolute;  margin-top:-435px; margin-left:480px"></div>
	
				<div class="build"><img src="../images/approved.png" style="position: absolute;  margin-top:-660px; margin-left:240px"></div>

				<p style="font-size:20px; position: absolute;  margin-top:23px; margin-left:0px">Features for the user</p>
			</article>


			<!-- Slide #7 | header text with bullet points building -->
      <article>
        <h3>
          Communication and sharing
        </h3>
        <ul class="build">
          <li>
            New camera and gallery<br> with live effects
          </li>
				</ul>
				<div class="build"><img src="../images/gallery-edit_240.png" style="position: absolute;  margin-top:-140px; margin-left:400px"></div>
				<div class="build"><img src="../images/gallery-share_240.png" style="position: absolute;  margin-top:-140px; margin-left:400px"></div>
				<div class="build"><img src="../images/live-effects.png" style="position: absolute;  margin-top:0px; margin-left:20px"></div>

				<ul class="build">
          <li style="position: absolute;  margin-top:150px; margin-left:0px">
            Several browser improvements
          </li>
				</ul>
				<div class="build"><img src="../images/browser_240.png" style="position: absolute;  margin-top:-150px; margin-left:455px"></div>
				<div class="build"><img src="../images/browser-tabs_240.png" style="position: absolute;  margin-top:-150px; margin-left:455px"></div>

				<ul class="build">
          <li style="position: absolute;  margin-top:250px; margin-left:0px">
            Providing screenshots
          </li>
				</ul>
				<div class="build"><img src="../images/screenshot_240.png" style="position: absolute;  margin-top:-110px; margin-left:520px"></div>
				
				<p style="font-size:20px; position: absolute;  margin-top:400px; margin-left:0px">Features for the user</p>
			</article>


			<!-- Slide #8 | header text with bullet points building -->
      <article>
        <h3>
          Innovation
        </h3>
        <ul class="build">
          <li>
          	Android Beam (NFC-based sharing)
          </li>
				</ul>
				<div class="build"><img src="../images/beam_240.png" style="position: absolute;  margin-top:-120px; margin-left:580px"></div>

				<ul class="build">
          <li>
          	Face unlock
          </li>
				</ul>
				<div class="build"><img src="../images/face-unlock_240.png" style="position: absolute;  margin-top:-120px; margin-left:520px"></div>
				
				<ul class="build">
          <li>
          	WiFi Direct
          </li>
				</ul>
				<ul class="build">
					<li>
          	Bluetooth Health Device Profile<br> (HDP)<br> Bluetooth Hands Free Profile<br> (HFP) 1.6  
          </li>
				</ul>

				<p style="font-size:20px; position: absolute;  margin-top:100px; margin-left:0px">Features for the user</p>
			</article>


			<!-- Slide #9 | full-slide embedded -->
      <article><br><br>
        <center><object width="640" height="360"><param name="movie" value="http://www.youtube.com/v/-F_ke3rxopc?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/-F_ke3rxopc?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="640" height="360" allowscriptaccess="always" allowfullscreen="true"></embed></object></center>
				<p style="font-size:20px; position: absolute;  margin-top:110px; margin-left:0px">Features for the user</p>
      </article>


			<!-- Slide #10 | seuge -->
      <article>
				<h2>
          Features for the developer
        </h2>
				<div><img src="../images/androiddev.png" style="position: absolute;  margin-top:425px; margin-left:655px"></div>
			</article>


			<!-- Slide #11 | simple text -->
      <article>
        <h3>
          Completely new APIs
        </h3>
        <ul class="build">
          <li>
          	<b>Social API</b> - making it even more easier to<br> integrate contact data with your app 
          </li>
					</ul>
					<ul class="build">
					<li>
          	<b>Calendar API</b> - no more using undocumented<br> APIs and databases to integrate your app<br> with build-in calendar
          </li>
					</ul>
					<ul class="build">
					<li>
						<b>Voicemail API</b>, <b>AndroidBeam</b>, <b>Sharing Widget</b>	
					</li>					
				</ul>
				<p style="font-size:20px; position: absolute;  margin-top:175px; margin-left:0px">Features for the developer</p>
      </article>

			
			<!-- Slide #12 | simple text -->
      <article>
        <h3>
          New media capabilities
        </h3>
        <ul class="build">
          <li>
          	<b>Camera</b> - easy use of filters,<br> snapshots while shooting video, face-detection
          </li>
					</ul>
					<ul class="build">
					<li>
          	<b>Media Effects</b> - high-performance transformation filters images and videos
          </li>
					</ul>
					<ul class="build">
					<li>
						<b>New media codecs and containers</b> - (WebP, VP8, HTTP Live streaming, AAC...)  	
					</li>					
				</ul>
				<p style="font-size:20px; position: absolute;  margin-top:175px; margin-left:0px">Features for the developer</p>
      </article>


			<!-- Slide #13 | simple text -->
      <article>
        <h3>
          New UI capabilities
        </h3>
        <ul class="build">
          <li>
          	<b>GridLayout</b> - performance improvements by flatter view hierarchies, designed for drag-and-drop design tools
          </li>
					</ul>
					<ul class="build">
					<li>
          	<b>TextureView</b> - OpenGL rendering handled just as a normal view object(improvement of SurfaceView)
          </li>
					</ul>
					<ul class="build">
					<li>
						<b>Hardware-accelerated 2D drawing</b> - high-performance drawing capabilities (scale, rotate...)  	
					</li>					
				</ul>
				<p style="font-size:20px; position: absolute;  margin-top:175px; margin-left:0px">Features for the developer</p>
      </article>


			<!-- Slide #14 | simple text -->
      <article>
        <h3>
          New UI capabilities
        </h3>
        <ul class="build">
          <li>
          	<b>GridLayout</b> - performance improvements by flatter view hierarchies, designed for drag-and-drop design tools
          </li>
					</ul>
					<ul class="build">
					<li>
          	<b>TextureView</b> - OpenGL rendering handled just as a normal view object(improvement of SurfaceView)
          </li>
					</ul>
					<ul class="build">
					<li>
						<b>Hardware-accelerated 2D drawing</b> - high-performance drawing capabilities (scale, rotate...)  	
					</li>					
				</ul>
				<p style="font-size:20px; position: absolute;  margin-top:175px; margin-left:0px">Features for the developer</p>
      </article>


			<!-- Slide #15 | embedded page with title -->
      <article class='fill'>
        <h3>
          Complete integration of Gingerbread and Honeycomb APIs
        </h3>
        
        <div><img src="../images/all.png" style="position: absolute;  margin-top:0px; margin-left:0px"></div>
      </article>
      

			<!-- Slide #16 | thank you -->
      <article>
        <h3>
          Thank you!
        </h3>
        
        <ul>
					<li>
            <a href='http://bremen.gtugs.org'>bremen.gtugs.org</a>
					</li>
          <li>
            <a href='http://d.android.com'>d.android.com</a>
					</li>		
        </ul>

				<ul>
					<li>
            <a href='http://twitter.com/bremenGTUG'>@bremenGTUG</a>
					</li>
          <li>
            <a href='http://twitter.com/peacei'>@peacei</a>
					</li>
        </ul>
      </article>

    </section>

  </body>
</html>
