body.inspire-bg {
	background:none;
}

.slides > article, .slides > article.far-past, .slides > article.past, .slides > article.current, .slides > article.next, .slides > article.far-next {
  display:block;
  transform: translate(0) rotate(0);
  -o-transform: translate(0) rotate(0);
  -moz-transform: translate(0) rotate(0);
  -webkit-transform: translate3d(0, 0, 0) rotate(0);
  position:relative;
  top:0;
  left:0;
  margin:0 auto 9em;
  /*box-shadow: none;*/
  box-shadow: 10px 10px 12px rgba(0, 0, 0, .2);
}

.to-build {
	opacity: 100;
}
