/* own style */

#front_logo{
	height: 177px;
	width:910px;
}

.sponsors{
	position: absolute;
	
	p {
		left:60px;
    }
	
	
}

#best_western_text{
	top:200px;
}

#best_western_logo{
	width:240px; 
	top:115px; 
	left:600px
}

#stalhut_text{
	top:350px;
}

#stalhut_logo{
	width:300px; 
	top:360px; 
	left:580px
}

#neusta_text{
	top:500px;
}

#neusta_logo{
	top:510px; 
	left:530px
}

[data-config-contact-dark] {
  a {
    color: #797979;
    border-bottom: none;
  }
  span {
    width: 115px;
    display: inline-block;
  }
}
